*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  column-gap: 30px;
  align-items: start;
  margin: auto;
  width: 1140px;
  min-height: 534px;
}

.result {
  align-self: center;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
  margin-top: 16px;
  align-items: end;
  height: 54px;
}

.search-form__fieldset {
  align-self: flex-start;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.content__details {
  display: grid;
  grid-template-rows: auto 1fr auto;

  row-gap: 26px;
  align-self: stretch;
  height: 100%;
  font-family: "Oswald", sans-serif;
}
.title {
  height: 210px;
}

.content__list-container {
  height: 298px;
  overflow: auto;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  margin: 2px;
  border-radius: 0px;
}

.content__video-card-description-container:active {
  background-color: #545050;
  outline: none;
}

.content__video-card:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 5px;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.button {
  border: 1px solid #fff;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
  align-content: center;
  height: 34px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.more-button {
  margin-top: 30px;
  width: 100%;
}

.content__card-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}
.button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.search-form {
  align-items: end;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  position: relative;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  flex: 0 0 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: #fff;
  box-sizing: border-box;
}

.search-form__fieldset {
  border: none;
}

.search-form__textfield {
  border: none;
  background-color: transparent;
  width: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  padding: 2.5px 0;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__textfield::placeholder {
  color: #fff;
  opacity: 0.7;
  font-family: "Fira Sans Condensed";
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
